<!--
 * @Author: zhangchunjie8 zhangchunjie8@jd.com
 * @Date: 2023-02-09 18:25:48
 * @LastEditors: zhangchunjie8 zhangchunjie8@jd.com
 * @LastEditTime: 2023-03-10 17:18:00
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wheel-design</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3193669_r6calo4dlj.css">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: "wd-iconfont" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        :root {
            --button-height: 32px;
            --font-size: 14px;
            --font-color: #999;
            --button-bg: white;
            --button-active-bg: #eee;
            --border-radius: 4px;
            --border-color: #999;
            --border-color-hover: red;
        }
        body {
            font-size: var(--font-size);
        }
        .em {
          color: red;
        }
        #test4 {
        }
        #test5 {
          margin-left: 50px;
          overflow: hidden;
        }
    </style>
</head>
<body>
  <div id="app">
    <div>
      <wd-input v-model="message"></wd-input>
      <wd-input v-model="message" disabled></wd-input>
      <wd-input v-model="message" readonly></wd-input>
      <wd-input v-model="message" error="错误的"></wd-input>
      <span>{{ message }}</span>
    </div>
    <div>
      <wd-icon name="setting"></wd-icon>
      <wd-icon name="loading"></wd-icon>
      <wd-button>我爱Vue</wd-button>
      <wd-button :loading="loading" @click="loading = !loading">我爱Vue</wd-button>
      <wd-button icon="setting" loading icon-position="left">我爱Vue</wd-button>
      <wd-button icon="download" loading icon-position="right">我爱Vue</wd-button>
      <wd-button-group>
        <wd-button icon="left" icon-position="left">上一页</wd-button>
        <wd-button>更多</wd-button>
        <wd-button icon="right" icon-position="right">下一页</wd-button>
      </wd-button-group>
    </div>
      <div id="test1">
        <wd-row :gutter="10" align="center">
          <wd-col :span="10">
            <wd-row>
              <wd-col>1111</wd-col>
              <wd-col>1111</wd-col>
              <wd-col>1111</wd-col>
              <wd-col>1111</wd-col>
            </wd-row>
          </wd-col>
          <wd-col>2222</wd-col>
          <wd-col>3333</wd-col>
        </wd-row>
      </div>
      <!---布局组件-->
      <!-- <div id="test2">
        <wd-layout style="height: 100vh">
          <wd-header>header</wd-header>
          <wd-layout>
            <wd-sider style="width: 200px">sider</wd-sider>
            <wd-content>content</wd-content>
          </wd-layout>
          <wd-footer>footer</wd-footer>
        </wd-layout>
      </div> -->
      <!--toast组件-->
      <div id="test3">
        <button @click="handleToastClick">点击</button>
      </div>
      <!--tabs组件-->
      <div id="test4">
        <div>{{selected}}</div>
        <wd-tabs v-model="selected" @tab-click="handleTabsChange">
          <wd-tabs-head>
            <wd-tabs-item name="code">代码</wd-tabs-item>
            <wd-tabs-item name="lesson">体育</wd-tabs-item>
            <wd-tabs-item name="article">博客</wd-tabs-item>
          </wd-tabs-head>
          <wd-tabs-body>
            <wd-tabs-pane label="代码" name="code">console.log(111);</wd-tabs-pane>
            <wd-tabs-pane label="体育" name="lesson">排球</wd-tabs-pane>
            <wd-tabs-pane label="博客" name="article">文章</wd-tabs-pane>
          </wd-tabs-body>
        </wd-tabs>
      </div>
      <!--popover组件-->
      <div id="test5">
        <wd-popover>
          <div>111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</div>
          <wd-button slot="reference">点 击</wd-button>
        </wd-popover>
        <wd-popover position="left">
          <div>1111111111</div>
          <wd-button slot="reference">点 击</wd-button>
        </wd-popover>
        <wd-popover position="bottom">
          <div>1111111111</div>
          <wd-button slot="reference">点 击</wd-button>
        </wd-popover>
        <wd-popover position="right">
          <div>1111111111</div>
          <wd-button slot="reference">点 击</wd-button>
        </wd-popover>
      </div>
      <!--collapse组件-->
      <div id="test6">
        {{ collapseselected }}
        <wd-collapse v-model="collapseselected" :single="false" @change="handleCollapseChange">
          <wd-collapse-item name="1" disabled>
            <div slot=title>11111111111</div>
            内容1updateWdCollapseItemupdateWdCollapseItemupdateWdCollapseItem
          </wd-collapse-item>
          <wd-collapse-item title="标题2" name="2">内容2updateWdCollapseItemupdateWdCollapseItemupdateWdCollapseItem</wd-collapse-item>
          <wd-collapse-item title="标题3" name="3">内容3updateWdCollapseItemupdateWdCollapseItemupdateWdCollapseItem</wd-collapse-item>
          <wd-collapse-item title="标题4" name="4">内容4updateWdCollapseItemupdateWdCollapseItemupdateWdCollapseItem</wd-collapse-item>
          <wd-collapse-item title="标题5" name="5">内容5updateWdCollapseItemupdateWdCollapseItemupdateWdCollapseItem</wd-collapse-item>
        </wd-collapse>
      </div>
  </div>
  <script src="./src/app.js"></script>
</body>
</html>