$button-height: 32px;
$font-size: 14px;
$font-color: #999;
$button-bg: white;
$button-active-bg: #eee;
$border-radius: 4px;
$border-color: #999;
$border-color-hover: #666;
$input-height: 32px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$tabs-default-color: #262626;
$tab-height: 40px;
$tab-border-color: #ddd;
$disabled-text-color: grey;
$tabs-default-hover: #4d80f0;
$toast-min-height: 40px;
$toast-background: rgba(0,0,0,0.75);
$toast-border-radius: 4px;
$toast-font-color: white;
$toast-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.50);

$blue: blue;
$red: #F1453D;
$grey: #ddd;
